<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource"  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
  
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedDate">
        <th mat-header-cell *matHeaderCellDef> Updated Date </th>
        <td mat-cell *matCellDef="let element"> {{element.updatedDate}} </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <img width="30" height="30" src="../assets/edit.png" /> </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef width="30">  </th>
        <td [id]="element.id" mat-cell *matCellDef="let element" appDelete (updateAuto)="getProducts()"> 
          <!-- <img width="40" height="40" src="../assets/cross2.png" (click)="delete(element.id, $event)" />  -->
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator (page)="pageChanged()"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 20, 100]"
              aria-label="Select page">
  </mat-paginator>
</div>

  